video{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}
.hero-container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    font-family: vazir;
    text-align: center;
    justify-content: center;

}
.hero-container>h1{
    color: #ffffff;
    font-size: 100px;
    margin-top: 100px;
   
}
.hero-container>p{
    color: #ffffff;
    font-size: 32px;
    margin-top: 8px;
   
}
.hero-buttons{
    margin-top: 32px;
    padding: 40px 25px;
  background: rgba(255, 255, 255, 0.008);  
  border-radius: 16px;
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.hero-buttons .btn{
    margin:6px
}

.search-input{
    width: 744px;
    padding: 14px 0;
    border: none;
    background: #fff;
    border: 1px solid #e1e5ee;
    border-radius: 3px;
    box-shadow: 0 6px 20px rgba(24,104,188,.07);
    background: rgba(255, 255, 255, 0.85); 
    padding-right: 15px;
    color: #666;
    font-size: 17px;
    outline: none;
}
.search-input::placeholder{
    font-family: vazir;
}

@media screen and (max-width:768px){
    .search-input{
        width: 544px;
    }
    .btn-mobile{
        display: block;
        text-decoration: none;
    }
    .btn{
        width: 100%;
    }
}
@media screen and (max-width:633px){
    .search-input{
        width: 400px;
    }
}

