.cards {
  padding: 4rem;
  background: #fff;
  font-family: vazir;
}

.cards > h1 {
  text-align: center;
  font-size: 26px;
  color: #666;
}

.cards > p {
  font-size: 20px;
  color: #666;
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
}

.cards__container {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
}

.cards__wrapper {
  margin: 50px 0 45px;
}

.cards__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 0;
  margin: 20px;
}

.cards__item {
  list-style: none;
  margin: 20 px;
  width: 300px;
}

.compare-item {
  border: 1px solid #e2dddb;
  border-radius: 3px;
  padding: 0 30px;
  width: 100%;
  text-align: center;
}

.compare-image-list > img {
  margin-top: -40px;
  margin-bottom: 10px;
}

.compare-item-title {
  margin-bottom: 8px;
  color: #4285f4;
  font-size: 14px;
}

.compare-item-exp {
  color: #8d8d8d;
  margin-bottom: 25px;
}

@media screen and (max-width: 768px) {
  .cards__item {
    width: 90%;
  }
}




