.cards {
    padding: 4rem;
    background: #fff;
    font-family: vazir;
  }
  
  .cards >h1 {
    text-align: center;
    font-size: 26px;
    color:#666
  }
  .cards >p{
    font-size: 20px;
    color: #666;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
  }
  .cards__container {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
  }
  
  .cards__wrapper {
    position: relative;
    margin: 50px 0 45px;
  }
  

  .cards__item {
    margin-bottom: 24px;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin: 0 1rem;
  }
  .compare-item{
    border: 1px solid #e2dddb;
    border-radius: 3px;
    position: relative;
    padding: 0 30px;
    width: 100%;
  }
  .compare-image-list {
    text-align: center;
}
.compare-image-list>img {
  margin-top: -40px;
  margin-bottom: 10px;
}
.compare-item-title {
  margin-bottom: 8px;
  color: #4285f4;
  font-size: 14px;
}
.compare-item-exp {
  color: #8d8d8d;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
  margin-bottom: 25px;
}
@media only screen and (min-width: 1024px) {
  .cards__items {
    display: flex;
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 576px) {
  .cards__items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 1024px) {
  .cards__item {
    margin: 10px;  
    width: 90%; 
  }
}

@media only screen and (max-width: 1024px) {
  .cards__item {
    margin-bottom: 2.5rem;
  }
}