.cards {
  padding: 4rem;
  background: #fff;
  font-family: vazir;
}

h1 {
  text-align: center;
}

.cards__container {
    width: 100%;
  max-width: 1120px;
  margin: 0 auto;
}

.cards__wrapper {
  width: 100%;
}

.cards__items {
   display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.cards__item {
  display: flex;
  flex: 1 1 280px;
  max-width: 320px;
  border-radius: 10px;
}

.cards__item__link {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
  background: #fff;
}

.cards__item__pic__wrap {
  position: relative;
  width: 100%;
  padding-top: 67%;
  overflow: hidden;
}

.cards__item__pic__wrap::after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background-color: #1f98f4;
  border-radius: 4px;
}

.cards__item__img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}

.cards__item__img:hover {
  transform: scale(1.1);
}

.cards__item__info {
  padding: 20px 30px 30px;
}

.cards__item__text {
  color: #252e48;
  font-size: 18px;
  line-height: 24px;
}

@media only screen and (max-width: 1024px) {
  .cards__item {
    flex: 1 1 45%;
    max-width: 45%;
  }
}

@media only screen and (max-width: 768px) {
  .cards__item {
    flex: 1 1 90%;
    max-width: 90%;
  }
}

@media only screen and (max-width: 480px) {
  .cards__item {
    flex: 1 1 100%;
    max-width: 100%;
  }
}


