.navbar{
    background-color: #4176f7;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2 rem;
    position: sticky;
    top: 0;
    z-index: 999;
    background-size: cover;
    background-position: center;
}


  .navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    max-width: 1500px;
    font-family: Vazir;
  }
  
  .navbar-logo {
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
  }
  
  .fa-typo3 {
    margin-right: 0.5rem;
    font-size: 1.8rem;
  }
  
  .nav-menu {
    display: flex;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: start;
    margin-right: 2rem;
    direction: rtl;
  }
  
  .nav-item {
    height: 80px;
  }
  
  .nav-links {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    height: 100%;
  }
  
  .nav-links:hover {
    border-bottom: 4px solid #fff;
    transition: all 0.2s ease-out;
  }
  
  .fa-bars {
    color: #fff;
  }
  
  .nav-links-mobile {
    display: none;
  }
  
  .menu-icon {
    display: none;
  }
  
  @media screen and (max-width: 960px) {
    .NavbarItems {
      position: relative;
    }
  
      .nav-menu {
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    height: calc(100vh - 80px);
    background: #4186f7;
    flex-direction: column;
    transform: translateX(-100%);
    transition: transform 0.5s ease;
    z-index: 999;
    visibility: hidden;
    pointer-events: none;
  }

  .nav-menu.active {
    transform: translateX(0%);
    visibility: visible;
    pointer-events: all;
  }
  
    .nav-links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
  
    .nav-links:hover {
      background-color: #fff;
      color: #4186f7;
      border-radius: 0;
      border: none;
    }
  
    .navbar-logo {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-49%, 50%);
    }
  
    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }
  
    .fa-times {
      color: #fff;
      font-size: 2rem;
    }
  
    .nav-links-mobile {
      display: block;
      text-align: center;
      margin: 2rem auto;
      border-radius: 4px;
      width: 80%;
      text-decoration: none;
      font-size: 1.5rem;
      background-color: transparent;
      color: #fff;
      padding: 14px 20px;
      border: 1px solid #fff;
      transition: all 0.3s ease-out;
    }
  
    .nav-links-mobile:hover {
      background: #fff;
      color: #242424;
      transition: 250ms;
    }
  }